[Unit]
Description=Xray, Penetrates Everything. Also the best v2ray-core. Where the magic happens. An open platform for various uses.
Documentation=https://github.com/XTLS/Xray-core
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=xray
Group=xray
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/xray run -config /etc/xray/config.json

[Install]
WantedBy=multi-user.target
